<div class="sidebar">
    <h2>Navigation</h2>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/chapter1/' | relative_url }}">Chapter 1: Introduction to Asynchronous Programming</a></li>
        <li><a href="{{ '/chapter2/' | relative_url }}">Chapter 2: Getting Started with asyncio</a></li>
        <li><a href="{{ '/chapter3/' | relative_url }}">Chapter 3: Handling CPU and I/O Bound Tasks</a></li>
        <li><a href="{{ '/chapter4/' | relative_url }}">Chapter 4: Synchronization and Coordination</a></li>
        <li><a href="{{ '/chapter5/' | relative_url }}">Chapter 5: Advanced Techniques</a></li>
        <li><a href="{{ '/chapter6/' | relative_url }}">Chapter 6: Exploring Features of New Python Versions</a></li>
        <li><a href="{{ '/chapter7/' | relative_url }}">Chapter 7: Web Applications</a></li>
    </ul>
</div>
